$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;
$white:#fff;
$black: #000;


$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #dae3f7;

$box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 19px 0px;

$header-height:5rem;
$header-shrink-height:5rem;
$border-radius: 30px;
$mobile-width:600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;